DATABASE_URL="postgresql://USER:PASSWORD@HOST:5432/supervision_aps?schema=public"
DIRECT_URL="postgresql://USER:PASSWORD@HOST:5432/supervision_aps?schema=public"
JWT_SECRET="cambiar-en-produccion"
NEXTAUTH_SECRET="cambiar-en-produccion"
NEXTAUTH_URL="http://localhost:3000"
CORS_ORIGINS="http://localhost:3000"

SEED_ADMIN_EMAIL="admin@supervision.local"
SEED_ADMIN_PASSWORD="admin12@"
